body {
  background-color: rgb(95, 95, 95);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(221, 221, 221);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.back {
  width: 500px;
}