body {
  background-color: rgb(61, 61, 61);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(221, 221, 221);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
