body {
    background-image: url(/images/1920.jpg);
}
h1 {
    font-family: Cambria, serif;
    font-size: 2.6em;
}
#aboutme {
    margin: auto;
    width: 550px;
    height: 350px;
    background-color: rgba(138, 138, 138, 0.527);
    border-radius: 25px;
    padding: 30px;
    font-family: Cambria, serif;
    font-size: 1.5em;
}
#labs {
    
}
#button {
    width: 50px;
    height: 50px;
    background-color: brown;
}