.task {
    background-color: rgb(221, 221, 221);
    position: relative;
    left: 300px;
    top: 20px;
    width: 300px;
    height: 150px;
    border-color: rgb(255, 179, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 1px 0px 5px 5px rgb(48, 47, 47);
}